<div class="meal-list">
  <!-- Example meal card -->
  <div
    class="meal-card"
    *ngFor="let meal of meals; let i = index"
    (click)="toggleRecipe(i)"
    [class.expanded]="expandedIndex === i"
    tabindex="0"
    role="button"
  >
    <img [src]="meal.image" alt="Meal" class="meal-img" />
    <div>
      <h3>{{ meal.name }}</h3>
      <p>{{ meal.type }}</p>
      <ul>
        <li *ngFor="let ingredient of meal.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <div class="meal-recipe" *ngIf="expandedIndex === i">
        <h4>Recipe</h4>
        <p>{{ meal.instructions }}</p>
      </div>
    </div>
  </div>
  <!-- Repeat for each meal -->
</div>
